.recipe-card{
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 10px var(--shadow-color);
    .recipe-card-info{
        padding: 15px;
    }
    .custom-image{
        z-index: -1;
    }
    .chef-image{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 3px solid var(--background-light);
        box-shadow: 0 1px 3px var(--shadow-color);
        margin-top: -50px;
        z-index: 2;
    }
    .recipe-title{
        font-size: 1.25em;
        font-weight: bold;
        margin-bottom: .5em;
        color: var(--text-color);
        margin-top: .25em;
    }
    .recipe-description{
        color: var(--text-light);
        font-size: .9em;
        letter-spacing: .1px;
    }
    .view-recipe-btn{
        font-size: 1em;
        font-weight: bold;
        color: var(--primary-color);
        margin-top: .5em;
        display: inline-block;
    }
}

.recipe-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 1.5em;
}

.search-box{
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: flex-end;
    margin-bottom: 1em;
    input, .btn{
        height: 35px;
    }
    input{
        border: 1px solid brown;
        min-width: 250px;
        padding: 0 0.5em;
        border-radius: 5px 0 0 5px;
        outline: none;
    }
    .btn{
        padding-block: 0;
        padding-inline: .75em;
        border-radius: 0 5px 5px 0;
        font-size: .70em;
        src{
            font-size: 1em;
        }
    }
}